@import './style.css';

#details {
    background-color: var(--tertiary);
    color: #fff;
    padding: 100px 100px 100px 100px;
    flex-wrap: wrap;
}

#work-experience-container {
    margin-top: 1rem;
}

#extra-skills-container {
    margin-top: 1rem;
}

#details-1 {
    flex: 1 0 auto;
    margin-bottom: 3rem;
    margin-right: 3rem;
    color: var(--text-color);
}

#details-2 {
    flex: 1 0 auto;
    color: var(--text-color);
}

.about-details-2-title > a > svg {
    fill: var(--quaternary);
}

.details-container {
    margin-top: 1.5rem;
    font-size: 30px;
    color: var(--text-color);
}

.details-info-title {
    font-size: 20px;
    color: var(--text-color);
}

.details-title {
    font-size: 50px;
    color: var(--text-color);
}
