html {
    font-family: 'Montserrat', sans-serif;
}

.fw-regular {
    font-weight: 400;
}

.fw-medium {
    font-weight: 500;
}

.fw-semibold {
    font-weight: 600;
}

.fw-bold {
    font-weight: 700;
}

.fw-extrabold {
    font-weight: 800;
}

.fw-black {
    font-weight: 900;
}

.xx-small {
    font-size: xx-small;
}

.x-small {
    font-size: x-small;
}

.small {
    font-size: small;
}

.medium {
    font-size: medium;
}

.large {
    font-size: large;
}

.x-large {
    font-size: x-large;
}

.xx-large {
    font-size: xx-large;
}

.white-grey {
    color: rgb(219, 219, 219);
}

.grey {
    color: rgb(185, 185, 185);
}

.glow {
    text-shadow:1px 1px 5px var(--text-color);
}

.text-justify {
    text-align: justify;
}
