@import './style.css';

.description {
    font-size: 25px;
}

#introduction-svg-rect {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    fill: var(--quaternary);
}

#introduction {
    background-color: var(--primary);
    padding: 100px 100px 0px 100px;
    flex-wrap: wrap;
    color: var(--text-color);
}

#introduction-details {
    font-size: 60px;
    flex: 1 1 30rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
}

#introduction-graphics {
    margin: 0;
    justify-content: space-around;
    align-items: center;
}

#introduction-graphics-2 {
    flex: 2 0 100px;
    justify-content: center;
    align-items: center;
}

#introduction-graphics-2 > svg {
    position: absolute;
    z-index: 1;
}

#introduction-graphics-2 > img {
    z-index: 2;
}

#introduction-details > .sub-intro {
    color: var(--quaternary);
}
